/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap.min
 *= require rails_bootstrap_forms
 *= require_tree .
 */

.main_page {
    margin-left:auto;
    margin-right:auto;
    width:50%;
}

.youtube_video {
    margin-left:auto;
    margin-right:auto;
    width:560;
    height:315;
    display:block;
}

#youtube_video{
    width:100%;
    text-align:center;
}
iframe {
    width: 560px;
    height: 315px;
    margin: 0 auto;
}